body, html {
    height: 100%; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;  
    align-items: center;      
    font-family: 'Arial', sans-serif;
    background: url('name-img.jpg') no-repeat center center fixed; 
    background-size: cover;
}

.invitation {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;  
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.904); 
    color: #585554bb;
    text-align: center;
    border: 2px solid #756060;  
    box-shadow: 0 0 15px rgb(255, 255, 255);  
    border-radius: 60px;
}

header h1, .details h2 {
    color: #646161;
    
}

.countdown {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 1.5em;
}

.time {
    background: rgba(71, 71, 71, 0.541);  
    padding: 10px 20px;
    border-radius: 10px;
}

.time span {
    display: block;
    font-size: 0.5em;
}

.map-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgba(136, 136, 136, 0.836);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.map-button:hover {
    background-color: #6d6b6b;
}
